<template name="home">
<div class="overImg noselect"></div>
<img src="/logo.png" class="logo" alt="textBuddy">
<div class="content noselect">
	<p class="welcomeText">Connect With Your Friends with textBuddy. One click to signUp &amp; start chatting...</p>
	<div class="facebookLogin">
		<a href="#" id="signInFacebook">Login with Facebook</a>
	</div>
</div>
</template>