:root {
	font-size: 16px;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;
	overflow: hidden;
	height: 100%;
}

.noselect {
	-webkit-touch-callout: none;    /* iOS Safari */
	-webkit-user-select: none;    /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;    /* Internet Explorer/Edge */
	user-select: none;    /* Non-prefixed version, currently
				                                                  not supported by any browser */
}

.overImg {
	background: url(/images/bg.jpg) no-repeat center;
	background-size: 2400px;
	position: fixed;
	height: 120%;
	width: 100%;
	z-index: 0;

	&:after {
		content: '';
		display: block;
		position: absolute;
		background: #000;
		opacity: 0.5;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

}

.logo {
	position: absolute;
	top: 0;
	left: 0;
}

.content {
	display: inline-block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 25%;
	height: 25%;
	margin: auto;

	@media(max-width:600px) {
		width: 90%;
		text-align: center;
	}

	.welcomeText {
		font-weight: 500;
		color: #fff;
		font-size: 19px;
		width: 250px;
		text-align: justify;

		@media(max-width:600px) {
			text-align: center;
			width: 100%;
		}

	}

	.facebookLogin a {
		background: #3b5998;
		text-decoration: none;
		padding: 12px;
		min-width: 270px;
		display: inline-block;
		border-radius: 6px;
		font-size: 19px;
		padding-left: 40px;
		padding-right: 40px;
		color: #fff;
	}

}