#feedbackSubmit, #addFriend {
    padding-bottom: 35px;
}

#feedbackSubmit button, #addFriend button {
    margin-top: 5px;
}

.friend-logo {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.header {
    height: 55px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    .header_right{
    	float:right;
    }
    .logo {
        position: initial;
        height: 50px;
        margin-top: -8px;
        width: 90px;
        margin-left: 40px;
    }
    .dropdown {
        float: right;
    }
    .mobile_post_button {
        display: none;
        @media(max-width: 600px) {
            display: unset;
            margin-top: -2px;
            float: right;
            margin-left: 4px;
            margin-right: 9px;
            width: 28px;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .mobile_new_button {
        display: none;
        &.left {
            position: absolute;
            left: 10px;
            float: none;
            font-size: 22px;
            cursor: pointer;
            @media(max-width: 991px) {
                display: unset;
            }
        }
        @media(max-width: 600px) {
            display: unset;
            color: #b3d670;
            margin-top: 5px;
            font-size: 20px;
            float: right;
            width: 28px;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .top_button_content {
        float: right;
        margin-top: 10px;
    }
    .user {
        margin-top: 0px;
        float: right;
        height: 35px;
        margin-left: 5px;
        margin-right: 20px;
        border-radius: 30px;
        width: 35px;
        cursor: pointer;
    }
    #top_right_button {
        border-radius: 9px;
        border-color: transparent;
        background-color: #b3d670;
        color: #fff;
        width: 131px;
        @media(max-width: 600px) {
            display: none;
        }
    }
    .countRequests {
        position: relative;
        left: -20px;
        opacity: 0.8;
        top: -10px;
        @media(max-width: 600px) {
            left: 30px;
            top: -5px;
        }
    }
}


/*New friend modal*/


/*new chat modal*/

#newChat .modal-content, #newFriend .modal-content, #feedback .modal-content {
    background-image: linear-gradient(#b3d670, #0c6121);
    height: 100%;
    background-repeat: no-repeat;
    color: #e4eae1;
    ::-webkit-input-placeholder {
        color: #dce8db;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: #dce8db;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #dce8db;
    }
    :-ms-input-placeholder {
        color: #dce8db;
    }
    input[type="text"], input[type="email"], textarea {
        background-color: #126524;
        color: white;
    }
    button[type="submit"] {
        background-color: #126524;
        color: #fff;
    }
    .friendListT {
        margin-top: 10px;
        height: 35vh;
        overflow: scroll;
        overflow-x: hidden;
    }
    .friendList {
        margin-top: 15px;
        text-align: center;
        font-size: 15px;
        tr {
            cursor: pointer;
            height: 50px;
            &:hover {
                background-color: #126524;
            }
            td {
                .label {
                    cursor: pointer;
                }
            }
            td:nth-child(even) {
                text-align: left;
            }
        }
    }
}


/*profile*/

.profile {
    background-image: linear-gradient(#b3d670, #0c6121);
    height: 100%;
    background-repeat: no-repeat;
    .close {
        font-size: 25px;
    }
    .rank-label-container {
        margin-top: 5px;
        .label {
            font-size: 12px;
        }
    }
    .extras {
        margin-top: 15px;
        .userStatus {
            background-color: #bdd2ae;
            color: #2f2f2f;
            font-size: 14px;
            padding: .2em .6em .3em;
            font-weight: bold;
            text-align: center;
            vertical-align: baseline;
            border-radius: .25em;
            padding-left: 20px;
            padding-right: 20px;
            .editStatus {
                position: absolute;
                right: 20px;
                top: 5px;
                cursor: pointer;
            }
        }
    }
    /**
 * Profile image component
 */
    .profile-header-container {
        margin: 0 auto;
        text-align: center;
    }
    .profile-header-img {
        padding: 54px;
    }
    .profile-header-img > img.img-circle {
        width: 120px;
        height: 120px;
        border: 2px solid #51D2B7;
    }
    .profile-header {
        margin-top: 43px;
    }
}