<template name="header">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="header">
		
		<div class="header_left">
			<a class="navbar-brand" href="/">
				<img data-toggle="modal" data-target="#aboutUs" class="logo" alt="textBuddy" src="/logo.png">
			</a>
		</div>
		<div class="top_button_content">
			<div class="dropdown">
				<img id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle user" alt="{{userData.name}}" src="{{imageURL}}" />
				<ul style="left:-150px" aria-hidden="true" class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#" class="targetMyProfile" data-toggle="modal" data-target="#profilePage">{{userData.name}}</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#" data-toggle="modal" data-target="#feedback">Feedback</a></li>
					<li><a href="#" id="logout">Sign Out</a></li>
				</ul>
				</div><!--Dropdown Class End-->
				<!-- <img id="mobile_post_button" data-toggle="modal" data-target="#newChat"  class="mobile_post_button" aria-hidden="true" alt="User" src="/post.png" /> -->
				<i id="goBack" class="mobile_new_button left hide fa fa-arrow-left" aria-hidden="true" ></i>
				<i data-toggle="modal" data-target="#newFriend"  class="mobile_new_button glyphicon glyphicon-plus" aria-hidden="true" ></i>
				<button id="top_right_button" data-toggle="modal" data-target="#newFriend"  class="btn btn-primary" type="button">
				<span class="glyphicon glyphicon-plus " aria-hidden="true"></span>
				Add Friend
				</button>
				{{#if requestCount}}
				<span class="badge countRequests">{{requestCount}}</span>
				{{/if}}
				<!-- <button id="top_right_button" data-toggle="modal" data-target="#newChat"  class="btn btn-primary" type="button">
				<span class="glyphicon glyphicon-pencil " aria-hidden="true"></span>
				New Chat
				</button> -->
				
			</div>
		</div>
	</nav>
	<div id="feedback" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><center>Feedback</center></h4>
				</div>
				<div class="modal-body">
					<form id="feedbackSubmit" method="post" accept-charset="utf-8">
						<textarea class="form-control" name="feedback" placeholder="Your Feedback" rows=8></textarea>
						<button type="submit" class="btn btn-default pull-right">Send</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="newFriend" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><center>Add Friend</center></h4>
				</div>
				<div class="modal-body">
					<form id="addFriend" method="post" accept-charset="utf-8">
						<input type="email" name="emailId" id="emailFriend" class="form-control" value="" required="required" placeholder="Friend's Email" title="Friends Email">
						<button type="submit" class="btn btn-default pull-right">Add Friend</button>
					</form>
					{{#if getRequest.length}}
					<div class="friendListT">
						<table class="table friendList" cellspacing="2" align="center">
							<tbody>
								{{#each getRequest}}
								<tr class="friendId" >
									<td>
										<img src="{{imageURL this}}" class="friend-logo"></td><td> {{getName this}} Sent Request</td><td>
										<span friendId="{{this}}" class="label label-success rank-label acceptRequest">Accept</span>
										<span friendId="{{this}}" class="label label-danger rank-label blockRequest">Block</span>
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	<div id="newChat" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><center>New Chat</center></h4>
				</div>
				<div class="modal-body">
					<input type="text" name="friendName" id="friendName" class="form-control" required="required" placeholder="Search Friends" title="Search Friend">
					<div class="friendListT">
						<table class="table table-hover friendList" cellspacing="2" align="center">
							<tbody>
								{{#each getFriends}}
								<tr class="selectFriend" friendId="{{this}}" >
									<td><img src="{{imageURL this}}" class="friend-logo"></td>
									<td> {{getName this}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="aboutUs" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body profile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="row">
						<div class="col-xs-6">
							<br><br>
							<img alt="textBuddy" src="/logo.png">
						</div>
						<div class="col-xs-6" style="color:#fff">
							<h2>About Us</h2>
							<p>textBuddy openSource Chat Application</p>
							<h3>Developer:</h3>
							<p>	<a style="color:#fff;text-decoration: none;" href="https://wadehrarshpreet.com">Arshpreet Singh Wadehra</a></p>
							<p>	Vipul Jain</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="profilePage" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body profile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="row">
						<div class="profile-header-container">
							<div class="profile-header-img">
								<img class="img-circle" src="{{imageURL selectedProfileId}}" />
								<div class="status">
									{{#if online selectedProfileId}}
									<span class="label label-success rank-label">online</span>
									{{else}}
									<span class="label label-danger rank-label">offline</span>
									{{/if}}
								</div>
								<!-- badge -->
								<div class="rank-label-container">
									<span class="label label-default rank-label">{{getName selectedProfileId}}</span>
								</div>
								<div class="row extras">
									<div class="col-xs-12">
										<p class="userStatus"><span>{{status selectedProfileId}}</span>
										{{#if isMySelf}}
										<i class="glyphicon glyphicon-edit editStatus"></i>
										<form id="changeStatus"><input type="text" name="status" id="userStatus" class="form-control hide" value="" placeholder="{{status selectedProfileId}}" title="Status"></form>
										{{/if}}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>