<template name="user">
{{>header instance=template}}
<div class="container bootstrap snippet chatScreen">
	<div class="row">
		<div class="col-md-4 bg-white friends">
			<!-- <div class=" row border-bottom padding-sm" style="height: 40px;">
																Member
			</div> -->
			
			<!-- =============================================================== -->
			<!-- member list -->
			<div class="wrapper">
				<ul class="friend-list" data-simplebar-direction="vertical">
					{{#each getChats}}
					<li class="bounceInDown chatIndex" chatId="{{_id}}">
						{{#if single}}
						<a href="#" class="clearfix">
							<img src="{{imageURL this.users}}" alt="" class="img-circle">
							<div class="friend-name">
								<strong>{{getName this.users}}</strong>
							</div>
							<div class="last-message text-muted">
							&nbsp;{{{getLastMessage this.message}}}
							</div>
							<small class="time text-muted">{{lastMessageTime this}}</small>
							{{#if getCount}}
							<small class="chat-alert label label-danger">{{getCount}}</small>
							{{/if}}
						</a>
						{{/if}}
					</li>
					{{else}}
					<p>Add Friends for Chat</p>
					{{/each}}
				</ul>
			</div>
		</div>
		
		<!--=========================================================-->
		<!-- selected chat -->
		<div class="col-md-8 bg-white chatMessages hidden-xs hidden-sm">
			<div class="chat-message">
				{{#if chatSelected}}
				<div class="selectChatInfo">
					<div class="pull-left"><img src="{{imageURL getSelectedChatUser}}" class="img-circle image"></div>
					<div class="name">{{getName getSelectedChatUser}}</div>
					<div class="status">
						{{#if getStatus getSelectedChatUser}}
						Online <i class="fa fa-circle" style="color:#43c143"></i>
						{{else}}
						Offline <i class="fa fa-circle" style="color:#e66262"></i>
						{{/if}}
					</div>
				</div>
				<ul class="chat">
					{{#each SelectedChat}}
					{{#if isCenter}}
					<li class="center clearfix">
						<p>
							{{message}}
						</p>
					</li>
					{{else}}
					<li class="{{#if checkLeft this}}left{{else}}right{{/if}} clearfix">
						<span class="chat-img {{#if checkLeft this}}pull-left{{else}}pull-right{{/if}}">
							<img data-toggle="modal" class="targetProfile" data-target="#profilePage" src="{{imageById user}}" alt="{{getNameById user}}">
						</span>
						<div class="chat-body clearfix">
							<div class="header">
								<strong class="primary-font">{{getNameById user}}</strong>
								<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{getTimeAgo timestamp}}</small>
							</div>
							<p>
								{{{modifyPost message}}}
							</p>
						</div>
					</li>
					{{/if}}
					{{/each}}
				</ul>
				{{else}}
				<p class="noSelectMessage noselect">Select Chat or Select Friend to Start new Chat</p>
				{{/if}}
			</div>
			<form id="newChat" class="{{inputDisplay}}">
				<div class="chat-box bg-white">
					<div class="input-group">
						<input type="text" class="form-control border no-shadow no-rounded inputChat" autofocus placeholder="Type your message here"/>
						<span class="input-group-btn">
							<button class="btn btn-success no-rounded submitChat" type="submit">Send</button>
						</span>
						</div><!-- /input-group -->
					</div>
				</form>
			</div>
		</div>
	</div>
	</template>