.bg-white {
    background-color: #fff;
    padding: 0;
}

.emoji {
    width: 1.4em !important;
    height: 1.4em !important;
    display: inline-block;
    margin-bottom: -0.25em;
}

.chatScreen {
    margin-top: 55px;
    @media(max-width: 992px) {
        width: 100%;
    }
}

.friend-list {
    height: 90vh;
    overflow-y: auto;
    list-style: none;
    margin-left: -40px;
    li:hover {
        background-color: #f1f5fc;
    }
    .friend-name {}
}

.friend-list li {
    border-bottom: 1px solid #eee;
}

.friend-list li a img {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 0px;
}

.friend-list li a {
    position: relative;
    display: block;
    padding: 10px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.friend-list li.active a {
    background-color: #f1f5fc;
}

.friend-list li a .friend-name, .friend-list li a .friend-name:hover {
    color: #777;
}

.friend-list li a .last-message {
    width: 65%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.friend-list li a .time {
    position: absolute;
    top: 10px;
    right: 8px;
}

small, .small {
    font-size: 85%;
}

.friend-list li a .chat-alert {
    position: absolute;
    right: 8px;
    top: 27px;
    font-size: 10px;
    padding: 3px 5px;
}

.chat-message {
    // padding: 20px;
    // padding: 60px 20px 115px;
}

.chat {
    list-style: none;
    margin: 0;
    height: 70vh;
    overflow-y: auto;
    padding-left: 0;
    .left {
        width: 80%;
        margin-left: 4%;
    }
    .right {
        width: 80%;
        margin-left: 16%;
    }
}

.chat-message {
    height: 75vh;
    background: #f9f9f9;
    .noSelectMessage {
        font-size: 18px;
        position: relative;
        top: ~"calc(50% - 50px)";
        text-align: center;
    }
    .image {
        max-height: 35px;
    }
    .selectChatInfo {
        padding: 5px 20px;
        .name{
          font-size: 13px;
        }
        .status{
          font-size: 12px;
        }
    }
}

.chat li img {
    width: 45px;
    height: 45px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}

img {
    max-width: 100%;
}

.chat-body {
    padding-bottom: 20px;
}

.chat {
    .center {
        p {
            text-align: center;
            background: #97bd9f;
            font-size: 13px;
            padding: 5px;
            width: 80%;
            position: relative;
            left: 8%;
            border-radius: 4px;
            color: #fff;
            font-weight: 500;
        }
    }
}

.chat li.left .chat-body {
    margin-left: 70px;
    background-color: #fff;
}

.chat li .chat-body {
    position: relative;
    font-size: 11px;
    padding: 10px;
    border: 1px solid #f1f5fc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.chat li .chat-body .header {
    padding-bottom: 5px;
    height: auto;
    border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
    margin: 0;
    font-size: 13px;
}

.chat li.left .chat-body:before {
    position: absolute;
    top: 10px;
    left: -8px;
    display: inline-block;
    background: #fff;
    width: 16px;
    height: 16px;
    border-top: 1px solid #f1f5fc;
    border-left: 1px solid #f1f5fc;
    content: '';
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
    position: absolute;
    top: 10px;
    right: -8px;
    display: inline-block;
    background: #fff;
    width: 16px;
    height: 16px;
    border-top: 1px solid #f1f5fc;
    border-right: 1px solid #f1f5fc;
    content: '';
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.chat li {
    margin: 15px 0;
}

.chat li.right .chat-body {
    margin-right: 70px;
    background-color: #fff;
}

.chat-box {
    position: fixed;
    bottom: 0;
    left: 37%;
    right: 8%;
    padding: 15px;
    border-top: 1px solid #eee;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    @media(max-width: 992px) {
        left: 0%;
        right: 0%;
    }
    .inputChat {
        max-height: 50px;
        resize: none;
        overflow: auto;
        overflow-x: hidden;
        margin-left: -5px;
    }
}

.primary-font {
    color: #3c8dbc;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    outline: 0;
}